.student-data-box {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: 1000px;
}
.student-data {
  display: flex;
  justify-content: space-around;
  width: 800px;
}
.student-data-btn {
  height: 40px;
  gap: 1.2rem;
  display: flex;
  width: 200px;
  background-color: #fff;
  border-radius: 0.6rem;
  color: #2ca4d8;
  -webkit-filter: drop-shadow(0 2px 20px rgba(44, 164, 216, 0.2));
  filter: drop-shadow(0 2px 20px rgba(44, 164, 216, 0.2));
}
.student-data-btn:hover > .edit-btn {
  visibility: visible;
}
.student-data-btn:hover > .delete-btn {
  visibility: visible;
}
.edit-btn,
.delete-btn {
  height: 40px;
  width: 100px;
  background-color: #fff;
  border: 1px solid #2ca4d8;
  border-radius: 0.6rem;
  color: #2ca4d8;
  -webkit-filter: drop-shadow(0 2px 20px rgba(44, 164, 216, 0.2));
  filter: drop-shadow(0 2px 20px rgba(44, 164, 216, 0.2));
}
